<div id="footerBar" class="row secondary-bg">
  <div class="col-9">
    <div id="footerMenu" class="menu primary-bg quarternary-border thirtiary">
      <ul class="menuItems">
        <li class="quarternary-border">
          <a href="#" [routerLink]="'contact'">Contact</a>
        </li>
        <li class="quarternary-border">
          <a href="https://forum.kingdomsatwar.com/">Kaw forum</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-3" id="copyright">
    © 2022 Gaia
  </div>
</div>
